@model IEnumerable<PetroPayesh.Models.Domain.Tbl_Documents>

@{
    ViewBag.Title = "گواهینامه ها | پتروپایش توسعه ماهان";
    ViewBag.MetaDescription = "مشاهده لیست گواهینامه های اخذ شده توسط شرکت پتروپایش توسعه ماهان";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<!-------documents gallery--------->
<div class="container-fluid mt-4" style="background-color: #edeeed;border-top: 1px solid #ddd;">
    <div class="container">
        <div class="row py-2">
            <div class=" col-md-2 ">
                <img src="/Content/Images/reward.png" class=" mx-auto img-fluid img-setting d-md-block d-lg-block d-none">
            </div>
            <div class="col-12 col-md-8">
                <h3 class="text-center pt-3">گواهینامه ها</h3>
            </div>
            <div class=" col-md-2 ">
                <img src="/Content/Images/reward.png" class=" mx-auto img-fluid img-setting  d-md-block d-lg-block d-none">
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mt-4">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12 col-md-6 col-lg-3 mt-3">
                <div class="hovereffect">
                    <img src="/Content/Images/@item.Image" alt="@item.Description" class="img-fluid">
                    <div class="overlay">
                        <h2>@item.Name</h2>
                        <a class="info">@item.Description</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
